body{
    background: #D9D9D9;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:3.52%;
}

#navbar{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 18.88%;
}

#iconP{
    margin: 0px;
    width: 30%;
    height: 100%;
}

#rodape{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 3.52%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#acform{
    align-items: center;
    justify-items: center;
    width: 100%;
}

.logs{
    margin: 2.64%;
    width: 90%;
    height: 50px;

    background-color: #683A91;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.Lab{
    margin-left: 5%;
    color: #111417;
}

.button{
    background-color: #683A91;
    color: #a8a8a8;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}