@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
body{
    background: #D9D9D9;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:3.52%;
}

#navbar{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 18.88%;
    width: 100%;
    max-width: 100%;
}

#navdash{
    background-color: #683A91;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    height: 70px;
}

#navtop{
    background-color: #683A91;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#navdash p, h3{
    margin: 0%;
    padding: 0%;
}

#alerts{
    font-size: 16px;
    justify-content: center;
    position: relative;
    text-align: center;
    font-weight: normal;
}

#iconP{
    margin: 0px;
    width: 30%;
    height: 100%;
}

#rodape{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 3.52%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#acform{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.roxoclaro{
    background-color:#AF94C7;
    color: #111417;
    height: 30px;

    display: flex;
    align-items: center;
}

.logs{
    margin: 2.64%;
    width: 85%;
    height: 50px;
    padding-left: 10px;

    background-color: #683A91;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.Lab{
    margin-left: 5%;
    color: #111417;
}

.button{
    margin: 2.64%;
    width: 90%;
    height: 50px;

    background-color: #ffffff;
    color: #111417;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.space{
    height: 30px;
}

#login{
 display: flex;
 flex-direction: column;
 align-items: baseline;
 padding: 5%;
}
#newPass{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5%;
}
#esqueci{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5%;
}

#esqueci{
    background-color: transparent;
    border: none;
    justify-content: right;
}

#esquecisenha{
    justify-content: right;
    display: flex;
    flex-direction: row;
    width: 95%;
}

.flex{
    display: flex;
}

.flexcenter{
    display: flex;
    place-items: center;
}


.linhas{

    height: 20%;
    max-width: 100%;
    max-height: 20%;
    justify-content: space-between;

    transition: all 200ms ease-in-out;
}

.linhas:hover{
    background-color: #854DB7 !important;
}

.purple{
    background-color: #683A91;
}

.botaotremdashboard{
    justify-content: space-between;
    display: flex;
}

#botdash{
    background-color: #683A91;
    display: flex;
    justify-content: right;
}

.buttons{
    padding: 1.5%;
}

#alert{
    background-color: #683A91;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

    height: 15px;
}

.scroll{
    max-height: 212px;

    overflow: hidden;
    overflow-y: scroll;
}

.notificacoes{
    color: #111417;
    font-size: 0.75rem;
    height: 69px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    justify-items: center;
}

.notificacoesOld{
    background-color: #929292;
    color: #111417;
    font-size: 0.75rem;
    height: 69px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    justify-items: center;
}

#acessdiv{
    justify-content: left;
    align-items: center;
}

#sidebar{
    height:100%;
    width:200px;
    background-color:#D9D9D9;
    position:fixed;
    right: 0;
    z-index: 1;
}

.sidebarItem{
    padding:8px 16px;
    float:left;
    width:80%;
    margin: 5px;
    text-align: center;
    background-color: #000000;
    border:10px black;
    border-radius: 8px;
    display:block;
    outline:0;
    text-decoration: none;
    color: white;
}

#plus{
    background-color: #523142!important;
}

#closeButton{
    padding:8px 16px;
    float:left;
    width:100%;
    border:none;
    font-size: 22px;
    text-align: right;
    display:block;
    outline:0;
}

#navacess{
    background-color: #683A91;

    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    min-height: 60px;
    max-height: 11%;

}

#navacess h2{
    font-size: 12px;
    justify-content: center;
    position: relative;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

#navacess h1{
    font-size: 18px;
    justify-content: center;
    position: relative;
    text-align: left;
    margin-top: 0;
}

.gridbutton{
    margin-top: 2%;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 15% 68% 17%;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.acessoptions{
    margin-left: 10%;
    margin-right: 10%;
}

.textacess{
    color: #111417;
    font-size: 13px;
}

.textacess h5{
    margin: 0;
    padding: 0;
}

/*!!!!Botao!!!!*/
/*tamanho botão*/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*definindo o slider*/
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #4A2F62;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/*bola do botão*/
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/*Mudança de on/off*/
.switch input:checked+.slider {
    background-color: #683A91;
}

.switch input:checked+.slider::before {
    transform: translateX(16px);
}

/*!!!!fim botão!!!!*/

.iconAcess{
    width: 90%;
    height: 100%;
}

#voltar {
    margin-left: 10%;
}

#voltarProfile {
    margin-left: 5%;
    margin-top: 3%;
}

.gridMonit{
    display: grid;
    grid-template-columns: 50% 5% 32% 13%;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    padding: 0;
}

.dashOrg{
    width: 33%;
}

#monitoramento{
    font-size: 16px;
    justify-content: center;
    position: relative;
    text-align: left;
    font-weight: normal;
    margin-left: -5%;
}

#separacaoMonit{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#separacaoMonit h5{
    font-weight: normal;
    color: #000000;
}

.monitoramentoEspec{
    font-size: 16px;
    justify-content: center;
    position: relative;
    text-align: left;
    font-weight: normal;
}

#trens{
    margin: 5%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divisorias{
    background-color: #683A91;
    width: 100%;

    display: grid;
    grid-template-columns: 12% auto auto;
    align-items: center;

}

.text{
    color: #000000;
    margin: 8%;
    margin-top: 5%;
}

#roxo{
    background-color: #683A91;
    width: 100%;
    height: 2.5rem;
}

#AVISAR{
    width: 18.125rem;
    height: 2.625rem;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: yellow;
    border-radius: 10px;

    margin: 5%;
    text-align: center;
}

#AVISAR:hover{
    background-color: rgb(197, 197, 4);
}

#AVISAR:hover{
    background-color: rgb(197, 197, 4);
}

.rodape-container {
    width: 100%;
    position: absolute;
    top: 80%;
}

.flexrelatorios{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    width: 100%;
    height: 55px;
    color: #111417;
    border-color: #111417;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;
}

.flexdadosgeraisr1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    width: 100%;
    height: 55px;
    color: #111417;
    row-gap: 1rem;
}

.barraporcentagem{
    display: flex;
    position: relative;
    margin-right: 10px;
}

.bar{
    width: 106px;
    height: 33px;
}

.mainBar{
    background-color:#7f51a8;
    border-radius: 5%;
}

.porcentagemBarR1{
    width: 95%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR2{
    width: 100%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR3{
    width: 15%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR4{
    width: 60%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR5{
    width: 12%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR6{
    width: 95%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR7{
    width: 45%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemBarR8{
    width: 75%; /*Mudar porcentagem da barra*/
    height: 99%;
    background-color: #3D185F;
    position: absolute;
    border-radius: 5%;
}

.porcentagemTextR1, .porcentagemTextR2, .porcentagemTextR3, .porcentagemTextR4, .porcentagemTextR5, .porcentagemTextR6, .porcentagemTextR7, .porcentagemTextR8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #D9D9D9;
    font-weight: bolder;
    position: absolute;
}

.gridDash{
    display: grid;
    grid-template-columns: 2fr 10px 2fr 32px;
    align-items: center;
    grid-template-rows: repeat(8, 46px);
    gap: 7px;
    color: black;
}


#sidebarMenuButton{
    background-color: #683A91;
    color: white;
    border: none;
    font-size: 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.gridFunc{
    display: grid;
    grid-template-columns: 9.125rem 9.125rem;
    grid-template-rows: 9.375rem 9.375rem 9.375rem;
    justify-content: center;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.profile{
    background-color: rgb(176, 176, 176);
    border-radius: 10%;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile h2{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
}
.profile h3{
    font-size: 0.625rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
}
.profile img{
    width: 6.25rem;
    height: 6.25rem;
    padding: 0;
    margin-top: 3%;
}

.error {
    color: rgb(179, 31, 31);
    font-size: 0.9em;
}

#navprofile {
    background-color: #683A91;
    width: 100%;
    
}

#profile {
    font-size: 0.1rem;
    margin-left: 1rem;

}

#profile h2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 0;

}

#profile h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-left: 2%;
}

.alinhar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.profileImg{
    margin-right: 1.5rem;
    margin-bottom: 10%;

}

.centerProfile{
    display: flex;
    align-items: center;
    justify-content: center;

}

.editarProfile{
    margin-right: 5%;
    margin-top: 3%;

}

.topImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.dadosGeraisEspaco{
    width: 100%;
    height: 23px;
    background-color: #683A91;
}

.infoDG{
    color: #111417;
    margin: 5%;
}

.textDG{
    border-color: #111417;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;
}

.textDG h5, h6{
    font-weight: normal;
}

.botao_interno{
    background-color: rgb(219, 3, 3);
    width: 95px;
    height: 95px;
    border-width: 6px;
    border-style: dashed;
    border-color: white;
    border-collapse: separate;
    border-spacing: 100px;
    border-radius: 50%;
    position: absolute;
}

.mensagemEmergencia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #111417;
}

.mensagemEmergencia p{
    font-size: 1rem;

}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69%;
    width: 100%;
}

#editarProfile{
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 2%;
    height: 40px;
    width: 40px;
}

/* Info Area */
.infoArea{
    background-color: #BABABA;
    width: 95%;
    border-radius: 12px;
    margin-left: 2.5%;

    
    
}

.infoArea h3{
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 1%;

    color: black;

}

.infoArea p{
    margin-left: 5%;
    margin-top: 0;
    
    color: black;
    opacity: 0.5;
}

.infoborder {
    width: 80%;
    background-color: #ffffff78;
    border-radius: 7px;
    margin-left: 2.2%;
}

.infogrid{
    display: grid;
    grid-template-columns: auto auto;

    margin-top: 2.5%;

}

.infoborder_big{
    width: 50%;
    background-color: #ffffff78;
    border-radius: 7px;
    margin-left: 0;
}

.info2 h3{
    margin-left: 2.8%;
    margin-top: 2.5%;
    margin-bottom: 1%;

    color: black;

}

.info2 p{
    margin-left: 2%;
    margin-top: 0;
    
    color: black;
    opacity: 0.5;
}

.infoborder-inteiro{
    width: 100%;
    background-color: #ffffff78;
    border-radius: 7px;
    margin-left: 0;

}

/* Info Area - fim */

.line{
    width: 100%;
    border-bottom: 1px solid #000;
}
.amareloExt{
    background-color: #FFE100;
    width: 270px;
    height: 270px;
    border: none;
    border-radius: 50%;
    position: relative;
}

.vermelhoExt{
    background-color: red;
    width: 150px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    position: absolute;
}

.remover{
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: #810606;
    color: white;
    border: #810606;

    text-align: center;
    align-items: center;
    justify-content: center;

    width: 28%;
    height: 1.4rem;
}

.remover:hover {
    transition: 300ms;
    background-color: #520707;
}

@view-transition{
    navigation: auto;
}

.animateSideBar{
    position: relative;
    animation: animateright 0.4s;
}

@keyframes animateright {
    from{
        right: -200px;
        opacity: 0;
    }

    to{
        right: 0;
        opacity: 1;
    }
}