body{
    background: #D9D9D9;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:3.52%;
}

#navbar{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 18.88%;
    width: 100%;
    max-width: 100%;
}

#navdash{
    background-color: #683A91;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    height: 70px;
}

#navtop{
    background-color: #683A91;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#navdash p, h3{
    margin: 0%;
    padding: 0%;
}

#alerts{
    font-size: 16px;
    justify-content: center;
    position: relative;
    text-align: center;
}

#iconP{
    margin: 0px;
    width: 30%;
    height: 100%;
}

#rodape{
    background-color: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 3.52%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#acform{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.roxoclaro{
    background-color:#AF94C7;
    color: #111417;
    height: 30px;

    display: flex;
    align-items: center;
}

.logs{
    margin: 2.64%;
    width: 90%;
    height: 50px;

    background-color: #683A91;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.Lab{
    margin-left: 5%;
    color: #111417;
}

.button{
    margin: 2.64%;
    width: 90%;
    height: 50px;

    background-color: #ffffff;
    color: #111417;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.space{
    height: 55px;
}

.login{
 display: flex;
 flex-direction: column;
 align-items: baseline;
 padding: 5%;
}

#esqueci{
    background-color: transparent;
    border: none;
    justify-content: right;
}

#esquecisenha{
    justify-content: right;
    display: flex;
    flex-direction: row;
    width: 95%;
}

.flex{
    display: flex;
}

.flexcenter{
    display: flex;
    place-items: center;
}


.linhas{

    height: 20%;
    max-width: 100%;
    max-height: 20%;
    justify-content: space-between;

    transition: all 200ms ease-in-out;
}

.linhas:hover{
    background-color: #854DB7 !important;
}

.purple{
    background-color: #683A91;
}

.botaotremdashboard{
    justify-content: space-between;
    display: flex;
}

#botdash{
    background-color: #683A91;
    display: flex;
    justify-content: right;
}

.buttons{
    padding: 1.5%;
}

#alert{
    background-color: #683A91;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

    height: 15px;
}

.scroll{
    max-height: 212px;

    overflow: hidden;
    overflow-y: scroll;
}

.notificacoes{
    color: #111417;
    font-size: 0.75rem;
    height: 69px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    justify-items: center;
}

.notificacoesOld{
    background-color: #929292;
    color: #111417;
    font-size: 0.75rem;
    height: 69px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    justify-items: center;
}

#acessdiv{
    justify-content: left;
    align-items: center;
}

#sidebar{
    height:100%;
    width:200px;
    background-color:#D9D9D9;
    position:fixed;
    right: 0;
    z-index: 1;
}

.sidebarItem{
    padding:8px 16px;
    float:left;
    width:80%;
    margin: 5px;
    text-align: center;
    background-color: #000000;
    border:10px black;
    border-radius: 8px;
    display:block;
    outline:0;
    text-decoration: none;
    color: white;
}

#plus{
    background-color: #523142!important;
}

#closeButton{
    padding:8px 16px;
    float:left;
    width:100%;
    border:none;
    font-size: 22px;
    text-align: right;
    display:block;
    outline:0;
}

#navacess{
    background-color: #683A91;

    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    min-height: 60px;
    max-height: 11%;

}

#navacess h2{
    font-size: 12px;
    justify-content: center;
    position: relative;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

#navacess h1{
    font-size: 18px;
    justify-content: center;
    position: relative;
    text-align: left;
    margin-top: 0;
}

.gridbutton{
    margin-top: 2%;
    row-gap: 1rem;

    display: grid;
    grid-template-columns: 15% 68% 17%;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.acessoptions{
    margin-left: 10%;
    margin-right: 10%;
}

.textacess{
    color: #111417;
    font-size: 13px;
}

.textacess h5{
    margin: 0;
    padding: 0;
}

/*!!!!Botao!!!!*/
/*tamanho botão*/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*definindo o slider*/
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #4A2F62;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/*bola do botão*/
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/*Mudança de on/off*/
.switch input:checked+.slider {
    background-color: #683A91;
}

.switch input:checked+.slider::before {
    transform: translateX(16px);
}

/*!!!!fim botão!!!!*/

.iconAcess{
    width: 90%;
    height: 100%;
}

.a p{
    display: flex;
    justify-content: flex-end;
}
.a img{
    display: flex;
    justify-content: flex-start;
}